<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dist/tocas.min.css" />
    <link rel="stylesheet" href="/static/style.css">
    <title>Meeting Video Helper</title>
</head>
<body>
    <div class="ts-content is-tertiary is-fitted">
        <div class="ts-container">
            <div class="ts-tab is-relaxed">
                <a href="/" class="item is-active">Home</a>
            </div>
        </div>
    </div>
    <div class="ts-divider"></div>
    <div class="ts-content is-tertiary">
        <div class="ts-container u-vertically-padded-large">
            <div class="ts-header is-huge is-heavy">MeetingVedioHelper</div>
            <div class="ts-text is-secondary">
                <p>
                    此系統可以幫助您創建難以識別的假會議影片
                    </br>
                    This system can help you to create fake meeting videos that are difficult to identify
                </p>
            </div>
            <div class="ts-grid is-relaxed is-stretched u-top-spaced">
                <div class="column is-9-wide">
                    <video width="100%" height="100%" id="{{ .videoID }}" controls>
                        <source src="data:video/mp4;base64,{{ .videoDataBase64 }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                
                <div class="column is-7-wide">
                    <div class="ts-segment is-padded is-secondary">
                        <div class="ts-header is-heavy is-center-aligned">上傳影片 Upload Video&nbsp;<span style="color: red;">(upload limit is 30MB)</span></div>
                        <!-- 上傳影片按鈕 -->
                        <form id="upload-form" enctype="multipart/form-data" action="/upload" method="post">
                            <div class="ts-wrap u-top-spaced is-short ts-button">
                                <label for="file-upload" class="custom-file-upload is-circular">
                                    <span class="ts-icon is-video-icon "></span> <span class="cursor">Upload</span>
                                </label>
                                <input id="file-upload" type="file" name="myFile" />
                            </div>
                        </form>
                        <br />
                        <div class="ts-header is-heavy is-center-aligned">下載 Download</div>
                        
                        <div class="ts-wrap u-top-spaced is-short ts-button" onclick="submitVideoForm()">
                            <label class="is-circular">
                                <span class="ts-icon is-download-icon"></span> <span class="cursor">Download Video</span>
                            </label>
                        </div>
                  
                        <br />
                        <div class="ts-header is-heavy is-center-aligned">下載GIF Download .GIF</div>
                        
                        <div class="ts-wrap u-top-spaced is-short ts-button" onclick="submitGIFForm()">
                            <label class="is-circular">
                                <span class="ts-icon is-download-icon"></span> <span class="cursor">Download GIF</span>
                            </label>
                        </div>
                                 
                        <!-- 下載影片按鈕 -->
                        <form id="file-download" action="/download" method="post">                             
                            <input name="videoID" value="{{ .videoID }}" style="visibility: hidden;">
                        </form>

                        <form id="file-download-GIF" action="/download" method="post">    
                            <input name="GIF" value="GIF" style="visibility: hidden;">                      
                            <input name="videoID" value="{{ .videoID }}" style="visibility: hidden;">
                        </form>

                        <script>
                            function submitVideoForm() {
                                var form = document.getElementById('file-download');
                                form.submit();
                            }

                            function submitGIFForm() {
                                var form = document.getElementById('file-download-GIF');
                                form.submit();
                            }

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- 下半部 -->
    <div class="ts-container">
        <div class="u-top-spaced">
            <div class="ts-header is-heavy is-center-aligned">教學影片 Tutorial</div>
        </div>   
        <div class="u-top-spaced is-center-aligned">
            <div class="ts-header is-heavy is-center-aligned">   
                <video width="100%" height="100%" controls>
                    <source src="path/to/video.mp4" type="video/mp4">
                </video>
            </div>
        </div>    
        <div class="u-top-spaced">
            <div class="ts-header is-heavy is-center-aligned">My Github URL</div>
        </div>   
        <div class="ts-text is-center-aligned u-top-spaced"> 
            <a href="https://github.com/ks0dcongra/MeetingVideoHelper">My github repo</a>
        </div>
        <footer class="ts-text is-center-aligned is-description u-top-spaced">
            <p>&copy; 2024 MeetingVedioHelper. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
<script src="/static/dist/tocas.min.js"></script>

<script>
    var status = "{{ .status }}";
    var msg = "{{ .msg }}";
    if (status !== "") {
        alert(msg);
    } 
</script>
<script>
    const form = document.getElementById('upload-form');
    const fileInput = document.getElementById('file-upload');
        
    fileInput.addEventListener('change', function() {
        if (fileInput.files.length > 0) {
            alert("Upload successfully, please wait a second!")
            form.submit();
        }
    });
 </script>
