<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dist/tocas.min.css" />
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="ts-content is-tertiary is-fitted">
        <div class="ts-container">
            <div class="ts-tab is-relaxed">
                <a href="#!" class="item is-active">Home page</a>
                <a href="#!" class="item">Contact me</a>
                <a href="#!" class="item">Tutorial</a>
            </div>
        </div>
    </div>
    <div class="ts-divider"></div>
    <div class="ts-content is-tertiary">
        <div class="ts-container u-vertically-padded-large">
            <div class="ts-header is-huge is-heavy">MeetingVedioHelper</div>
            <div class="ts-text is-secondary">
                <p>
                    幫助你創造不容易被識破的開會影片
                    </br>
                    Helping you make a meeting vedio that can't easy to recognize fake
                </p>
            </div>
            <div class="ts-grid is-relaxed is-stretched u-top-spaced">
                <div class="column is-11-wide">
                    <video width="100%" height="100%" id="{{ .videoID }}" controls>
                        <!-- MongoDB use-->
                        <source src="data:video/mp4;base64,{{ .tempVideoFile }}" type="video/mp4">
                        <!-- General use-->
                        <!-- <source src="{{ .tempVideoFile }}" type="video/mp4"> -->
                        <source src="{{ .tempVideoFile }}" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                </div>
                
                <div class="column is-5-wide">
                    <div class="ts-segment is-padded is-secondary">
                        <div class="ts-progress">
                            <div class="bar" style="width: 20%"></div>
                        </div>
                        <div class="ts-grid u-top-spaced">
                            <div class="column is-fluid">
                                <div class="ts-header is-big is-heavy">NT$ 830,110</div>
                            </div>
                            <div class="column"><div class="ts-text is-large">87%</div></div>
                        </div>
                        <button style="visibility: hidden;"></button>
                        <div class="ts-box is-hollowed">
                            <div class="ts-blankslate is-interactive" id="drop-area">
                                <div class="header">上傳影片</div>
                                <div class="description">將影片拖拉至此處進行上傳</div>
                            </div>
                        </div>
                        <!-- 上傳影片按鈕 -->
                        <form id="upload-form" enctype="multipart/form-data" action="/upload" method="post">
                            <!-- <button for="file-upload" type="submit" value="upload" style="visibility: hidden;"></button> -->
                            <div class="ts-wrap u-top-spaced ts-button">
                                <label for="file-upload" class="custom-file-upload is-circular">
                                    <span class="ts-icon is-video-icon "></span> Upload Video
                                </label>
                                <input id="file-upload" type="file" name="myFile" />
                            </div>
                        </form>
                        
                        <!-- 下載影片按鈕 -->
                        <form id="file-download" action="/downloads" method="post">                             
                            <input name="videoID" value="{{ .videoID }}">
                            <input name="videoTitle" value="{{ .videoTitle }}">
                            
                        </form>
                        <div class="ts-wrap u-top-spaced ts-button" onclick="submitForm()">
                            <label class="is-circular">
                                <span class="ts-icon is-download-icon "></span> Download Video
                            </label>
                        </div>
                       
                        <script>
                            function submitForm() {
                                
                                // 获取表单元素
                                var form = document.getElementById('file-download');
                                // 提交表单
                                form.submit();
                            }
                        </script>
                        <div class="ts-text is-description is-center-aligned u-top-spaced-small">Andy Is Handsome</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- 下半部 -->
    <div class="ts-container u-vertically-padded-big">
        <div class="ts-grid is-relaxed">
            <div class="column is-3-wide">
                <div class="ts-menu is-separated">
                    <a href="#!" class="item">簡介</a>
                    <a href="#!" class="item">關於我們</a>
                    <a href="#!" class="item">為何贊助</a>
                    <a href="#!" class="item">相關連結</a>
                </div>
            </div>
            <div class="column is-13-wide">
                <p>Code Liquid is a 3D RPG Hentai Game that combines Sci-Fi and Fantasy elements.</p>
                <p>
                    At the time of the village's destruction, the player will take on the role of a hero who will save it from the crisis. In addition to the most basic way to
                    make money like completing the quests or killing monsters to get level up, you can also summon slaves from different worlds to help you to make money as the
                    basic income in the late game.
                </p>
                <p>
                    In addition to helping to earn money, slaves can also provide assistance in combat. The interaction between you and the slaves will also be changed based on
                    the affinity level; Upgrade the furniture and purchase venue passes to unlock more H animations.
                </p>
                <p>Code Liquid 是一款結合科幻和奇幻世界觀的 3D RPG H Game。</p>
                <p>
                    在村莊面臨毀滅之際，玩家將身負重任地扮演著英雄的角色將其從危機中解救。除了最基本的接取任務賺錢、打怪升級之外，亦能從異世界中召喚奴隸幫助玩家賺錢成為後期的收入來源。
                </p>
                <p>奴隸除了能幫忙打工賺錢，還能提供戰鬥上的協助，透過好感度系統與奴隸的互動也會有所變化；升級房屋的家具擺設、購買場地通行證來解鎖更多的 H 動畫。</p>
                <br />
                <strong>▌ About Us / 關於我們</strong>
                <p>Code Liquid Studio is a small indie game development team from Taiwan.</p>
                <p>
                    The orignal plan was to make a H Game as a Side Project, but we got more and more ideas while the days were going by; In the end of 2018, we decided to
                    rewrite the game to implement our new and best ideas, and trying to make it as a large-scale game.
                </p>
                <p>Code Liquid Studio&nbsp;是由一位程式和一位美術所組成的小型團隊。</p>
                <p>原先打算在工作之餘做 H Game 當 Side Project，但隨著製作的推進，想法也日益增多；在 2018 年底開始重寫並試圖實現這些想法，製作出規模更大且更加完整的遊戲。</p>
                <br />
                <strong>▌ Why Donation ? / 為何贊助</strong>
                <p>Donation helps us a lot since we don't have to earn money from the other places for surviving while we are developing the game.</p>
                <p>
                    Develop a game takes plenty of time. We have took 3 months to completed the very first Demo. We can focus on the game development and create more content
                    updates If we got enough donations.
                </p>
                <p>
                    With Donation, you can also tell us about your thoughts and ideas directly by commenting in the posts below. We'll also post the latest development and game
                    updates via Donation.
                </p>
                <p>贊助可以讓我們少接一點案子，並更專注地在遊戲開發上。</p>
                <p>遊戲開發是一件非常花時間的事情，最初的 Demo 就耗費了至少三個月的時間。如果有足夠的贊助金額，我們就能夠更專心地在開發遊戲上、加快遊戲內容的更新。</p>
                <p>透過 Donation 也能夠直接在留言中聽見玩家對遊戲的反應並加以改進，同時也會透過 Donation 發表更詳細的內容更新與開發日誌。</p>
                <br />
                <strong>▌ Website / 官方網站：</strong><br />
                <a href="https://code-liquid.io/">https://code-liquid.io/</a><br /><br />

                <strong>▌ Dev Blog / 開發日誌：</strong><br />
                <a href="https://dev.code-liquid.io/">https://dev.code-liquid.io/</a><br />

               
                <div class="ts-meta is-secondary is-center-aligned u-top-spaced">
                    <a href="#!" class="item">使用者條約</a>
                    <a href="#!" class="item">隱私政策</a>
                    <a href="#!" class="item">聯繫我們</a>
                </div>
                <footer class="ts-text is-center-aligned is-description u-top-spaced">
                    <p>&copy; 2023 MeetingVedioHelper. All rights reserved.</p>
                </footer>
            </div>
</body>
</html>
<script src="/static/dist/tocas.min.js"></script>
<!--在Go模板中使用Go的模板引擎輸出err變數的值，並使用alert()顯示錯誤消息-->
<script>
    var successMsg = "{{ .successMsg }}";
    var err = "{{ .err }}";

    if (successMsg !== "") {
        alert(successMsg);
    }
    if (err !== "") {
        alert(err);
    }
 </script>
<script>
    const form = document.getElementById('upload-form');
    const fileInput = document.getElementById('file-upload');
        
    fileInput.addEventListener('change', function() {
        if (fileInput.files.length > 0) {
            form.submit();
        }
    });
 </script>
